.debt-header {
    display: flex;
    margin: 5% 49%;
    justify-content: center;
    font-weight: 550;
    font-style: italic;
    font-size: 200%;
    color: rgb(189, 26, 26);
    text-shadow: 1px 1px 50px;
    font-family:'Gill Sans';
}